<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <title>Welcome to hbs</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" style="font-family:Georgia, 'Times New Roman', Times, serif">
        <a href="/users" class="navbar-brand">Coherents</a>
    </nav>
    <br><br>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                    {{{body}}}
            </div>
        </div>
    </div>
    
    <script src="/JS/ok.js"></script>
</body>
</html>