<h1> Home Page</h1>
<form action="/" method="POST">
    <input type="text" name="username"> Username:
    <input type="password" name="password">Password:
    <button type="submit">Submit</button>
</form>